// Set your colors
$primary: #ef67df;
$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);
$primary-invert: findColorInvert($primary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);
// transperencies
$transparent-white: #ffffff80;
$transparent-black: #00000080;
$clear: #ffffff00;
// monotones
$white: #fff;
$black: #333;
// rainbow
$red: #c82020;
$pink: #d72c70;
$orange: #eb5e00;
$yellow: #daa000;
$green: #95c012;
$blue: #16c3c3;
$indigo: #0066cc;
$violet: #9c4cc5;
$brown: #663300;
$red-light: #e6000026;
$pink-light: #ff006626;
$orange-light: #ff626026;
$yellow-light: #ffcc0026;
$green-light: #ccff3326;
$blue-light: #66ffff26;
$indigo-light: #0066cc26;
$violet-light: #cc66ff26;
$brown-light: #66330026;

// Lists and maps
$custom-colors: null !default;
$custom-shades: null !default;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: mergeColorMaps(
  (
    "white": (
      $white,
      $black,
    ),
    "black": (
      $black,
      $white,
    ),
    "light": (
      $light,
      $light-invert,
    ),
    "dark": (
      $dark,
      $dark-invert,
    ),
    "primary": (
      $primary,
      $primary-invert,
      $primary-light,
      $primary-dark,
    ),
    "link": (
      $link,
      $link-invert,
      $link-light,
      $link-dark,
    ),
    "info": (
      $info,
      $info-invert,
      $info-light,
      $info-dark,
    ),
    "success": (
      $success,
      $success-invert,
      $success-light,
      $success-dark,
    ),
    "warning": (
      $warning,
      $warning-invert,
      $warning-light,
      $warning-dark,
    ),
    "danger": (
      $danger,
      $danger-invert,
      $danger-light,
      $danger-dark,
    ),
    "transparent-white": (
      $transparent-white,
      $transparent-black,
    ),
    "clear": (
      $clear,
      $grey,
    ),
    "red": (
      $red,
      $white,
      $clear,
      $red,
    ),
    "pink": (
      $pink,
      $white,
      $clear,
      $pink,
    ),
    "orange": (
      $orange,
      $white,
      $clear,
      $orange,
    ),
    "yellow": (
      $yellow,
      $white,
      $clear,
      $yellow,
    ),
    "green": (
      $green,
      $white,
      $clear,
      $green,
    ),
    "blue": (
      $blue,
      $white,
      $clear,
      $blue,
    ),
    "indigo": (
      $indigo,
      $white,
      $clear,
      $indigo,
    ),
    "violet": (
      $violet,
      $white,
      $clear,
      $violet,
    ),
    "brown": (
      $brown,
      $white,
      $clear,
      $brown,
    ),
    "crown": (
      $clear,
      $violet,
    ),
    "third": (
      $clear,
      $indigo,
    ),
    "throat": (
      $clear,
      $blue,
    ),
    "heart": (
      $clear,
      $green,
    ),
    "solar": (
      $clear,
      $yellow,
    ),
    "sacral": (
      $clear,
      $orange,
    ),
    "root": (
      $clear,
      $red,
    ),
  ),
  $custom-colors
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;