@charset "utf-8";
// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/sass/utilities/functions";

// 2. Set your own initial variables
@import "./colours.scss";

// Global Styles
* {
  // color: $primary;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html, nav.navbar, div.navbar-menu, input, label, textarea, select, button, .file-cta, .tag {
    background-color: $black !important;
  }
  body, input, label, textarea, select, button, .file-cta, .tag {
    color: $white !important;
  }
  .title, .subtitle, .body, .textarea {
    color: $white !important;
  }
  a, ::placeholder {
    color: #777676 !important;
  }
  a.navbar-item {
    &:hover {
      color: $pink !important;
      background-color: #262124 !important;
    }
  }
  span.tag {
    border: 0.1px solid $white;
  }
}

@media (prefers-color-scheme: light) {
  html, nav.navbar, div.navbar-menu, input, label, textarea, select, button, .file-cta, .tag {
    background-color: $white !important;
  }
  body, input, label, textarea, select, button, .file-cta, .tag {
    color: $black !important;
  }
  .title, .subtitle, .body {
    color: $black !important;
  }
  a, ::placeholder {
    color: #454545 !important;
  }
  a.navbar-item {
    &:hover {
      color: $pink !important;
      background-color: #262124 !important;
    }
  }
  span.tag {
    border: 0.1px solid $black;
  }
}

select, div.select {
  width: 100%;
}

// Import Bulma and Buefy styles
@import "~bulma";