@charset "utf-8";
// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/sass/utilities/functions";

// 2. Set your own initial variables
@import "./colours";

// Global Styles
* {
  // color: $primary;
  box-sizing: border-box;
}

.main-container {
  position: fixed;
  overflow: hidden;
  display: contents;
}

#svg {
  width:100%;
  height: auto;
}

.is-fullheight {
  min-height: 100vh !important;
  height: 100%;
}

select, div.select {
  width: 100%;
}

.bring-to-front {
  z-index: 15 !important;
}

// GLOBE
.globe-container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.locations-map {
  min-height: 100%;
  height: 93vh;
  width: 95vw;
  overflow: hidden;
  justify-content: center;
}

.globe-label {
  display: hidden;
  color: white;
  // min-width: 250px;
  // width: 200px;
  width: fit-content;
  // min-width: fit-content;
  padding: 0.2rem;
  // line-break: strict;
  // background-color: hsla(211, 12%, 48%, 0.75);
  background-color: hsla(210, 14%, 3%, 0.75);
  border-radius: 10px;  
}

.locationInformation {
  position: absolute;
  right: 0;
  top: 0;
  max-width: 300px;
  width: 300px;
  background-color: hsla(211, 12%, 48%, 0.25);
  max-height: 90dvh;
  border-radius: 10px;
}

.location-crystal-gallery {
  max-height: 70dvh;
  overflow: scroll !important;
}

.location-tabs {
  background-color: hsla(210, 14%, 3%, 0.25);
  color: white;
  border-radius: 5px 5px 0 0;
}

// DARK COLOUR SCHEME
@media (prefers-color-scheme: dark) {
  html, nav.navbar, div.navbar-menu, input, label, textarea, select, button, .file-cta {
    background-color: $black !important;
  }
  body, input, label, textarea, select, button, li, .file-cta {
    color: $white !important;
  }
  .title, .subtitle, .body, .textarea {
    color: $white !important;
  }
  a, ::placeholder {
    color: #777676 !important;
  }
  a.navbar-item {
    &:hover {
      color: $pink !important;
      background-color: #262124 !important;
    }
  }
  span.tag {
    border: 0.1px solid $white;
  }
}

// LIGHT COLOUR SCHEME
@media (prefers-color-scheme: light) {
  html, nav.navbar, div.navbar-menu, input, label, textarea, select, button, .file-cta {
    background-color: $white !important;
  }
  body, input, label, textarea, select, button, li, .file-cta {
    color: $black !important;
  }
  .title, .subtitle, .body, .textarea {
    color: $black !important;
  }
  a, ::placeholder {
    color: #454545 !important;
  }
  a.navbar-item {
    &:hover {
      color: $pink !important;
      background-color: #262124 !important;
    }
  }
  span.tag {
    border: 0.1px solid $black;
  }
}

// Import Bulma and Buefy styles
@import "~bulma";
// @import "bulma/css/bulma"